# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg-info/
.dist/
.build/
.venv/
venv/
.env

# Jupyter / experiments
.ipynb_checkpoints/

# VS Code / IDEs
.vscode/
.idea/
*.code-workspace

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Model/artifacts (optional, add if used)
models/
artifacts/
